AutoCheckService/bpelContent/ExactMatchService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://exactmatch.assign2.soacourse.unsw.edu.au"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="ExactMatchService" targetNamespace="http://exactmatch.assign2.soacourse.unsw.edu.au">
		<wsdl:types>
		<xsd:schema targetNamespace="http://exactmatch.assign2.soacourse.unsw.edu.au">
			<xsd:element name="validateExactMatchRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="address" nillable="false" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="validateExactMatchResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="message" nillable="false" type="xsd:string" />
						<xsd:element name="messageStatus" nillable="false" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="serviceFaultType">
		    	<xsd:sequence>
			   		<xsd:element name="errcode" type="xsd:string"></xsd:element>
			   		<xsd:element name="errtext" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			
		 	<xsd:element name="nullEntryFault" type="tns:serviceFaultType"></xsd:element>
			
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="validateExactMatchRequestMsg">
		<wsdl:part name="parameters" element="tns:validateExactMatchRequest" />
	</wsdl:message>
	<wsdl:message name="validateExactMatchResponseMsg">
		<wsdl:part name="parameters" element="tns:validateExactMatchResponse" />
	</wsdl:message>
	<wsdl:message name="nullEntryFaultMsg">
    	<wsdl:part name="parameters" element="tns:nullEntryFault" />
  	</wsdl:message>
	<wsdl:portType name="ExactMatchService">
		<wsdl:operation name="validateExactMatch">
			<wsdl:input message="tns:validateExactMatchRequestMsg" />
			<wsdl:output message="tns:validateExactMatchResponseMsg" />
			<wsdl:fault name="nullEntryFault" message="tns:nullEntryFaultMsg"></wsdl:fault>
			
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ExactMatchService" type="tns:ExactMatchService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="validateExactMatch">
			<soap:operation
				soapAction="http://exactmatch.assign2.soacourse.unsw.edu.au/validateExactMatch" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="nullEntryFault">
        		<soap:fault name="nullEntryFault" use="literal"/>
	  		</wsdl:fault>
	  	</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ExactMatchService">
		<wsdl:port binding="tns:ExactMatchService" name="ExactMatchService">
			<soap:address location="http://localhost:8080/GNAFAddressingService/ExactMatchService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
