rmsService/src/main/resources/wsdl/SimilarMatchService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://similarmatchservice.assign2.soacourse.unsw.edu.au"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="SimilarMatchService" targetNamespace="http://similarmatchservice.assign2.soacourse.unsw.edu.au">
	<wsdl:types>
		<xsd:schema targetNamespace="http://similarmatchservice.assign2.soacourse.unsw.edu.au">
			<xsd:element name="validateSimilarMatchRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="address" nillable="false" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="validateSimilarMatchResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="message" nillable="false" type="xsd:string" />
						<xsd:element name="messageStatus" nillable="false" type="xsd:string" />											
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="validateSimilarMatchRequestMsg">
		<wsdl:part name="parameters" element="tns:validateSimilarMatchRequest" />
	</wsdl:message>
	<wsdl:message name="validateSimilarMatchResponseMsg">
		<wsdl:part name="parameters" element="tns:validateSimilarMatchResponse" />
	</wsdl:message>
	<wsdl:portType name="SimilarMatchService">
		<wsdl:operation name="validateSimilarMatch">
			<wsdl:input message="tns:validateSimilarMatchRequestMsg" />
			<wsdl:output message="tns:validateSimilarMatchResponseMsg" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SimilarMatchService" type="tns:SimilarMatchService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="validateSimilarMatch">
			<soap:operation
				soapAction="http://similarmatchservice.assign2.soacourse.unsw.edu.au/validateSimilarMatch" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SimilarMatchService">
		<wsdl:port binding="tns:SimilarMatchService" name="SimilarMatchService">
			<soap:address location="http://localhost:8080/GNAFAddressingService/SimilarMatchService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
